<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scoremg.mappers.CourseSelectInfoMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.scoremg.entity.po.CourseSelectInfo">
		<!--选课id-->
		<id column="id" property="id"/>
		<!--学生id-->
		<result column="student_id" property="studentId"/>
		<!--课程id-->
		<result column="course_id" property="courseId"/>
		<!--成绩-->
		<result column="grade" property="grade"/>
	</resultMap>

	<!--通用sql查询-->
	<sql id="base_column_list">
		id,student_id,course_id,grade
	</sql>

	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.id !=null">
			and id=#{query.id}
		</if>
		<if test="query.studentId !=null and query.studentId!=''">
			and student_id=#{query.studentId}
		</if>
		<if test="query.courseId !=null">
			and course_id=#{query.courseId}
		</if>
		<if test="query.grade !=null">
			and grade=#{query.grade}
		</if>

	</sql>

	<!--扩展的查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.studentIdFuzzy !=null and query.studentIdFuzzy !=''">
			 and student_id like concat('%',#{query.studentIdFuzzy},'%')
		</if>

	</sql>

	<!--通用查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		SELECT
		<include refid="base_column_list"/>
		FROM course_select_info
		<include refid="query_condition"/>
		<if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
		<if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
	</select>

	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM course_select_info
		<include refid="query_condition"/>
	</select>

	<!--插入 (匹配有值的字段)-->
	<insert id="insert" parameterType="com.scoremg.entity.po.CourseSelectInfo">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
		INSERT INTO
		course_select_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				id,
			</if>
			<if test="bean.studentId!=null">
				student_id,
			</if>
			<if test="bean.courseId!=null">
				course_id,
			</if>
			<if test="bean.grade!=null">
				grade,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				#{bean.id},
			</if>
			<if test="bean.studentId!=null">
				#{bean.studentId},
			</if>
			<if test="bean.courseId!=null">
				#{bean.courseId},
			</if>
			<if test="bean.grade!=null">
				#{bean.grade},
			</if>
		</trim>
	</insert>

	<!--插入或者更新 (匹配有值的字段)-->
	<insert id="insertOrUpdate" parameterType="com.scoremg.entity.po.CourseSelectInfo">
		INSERT INTO
		course_select_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				id,
			</if>
			<if test="bean.studentId!=null">
				student_id,
			</if>
			<if test="bean.courseId!=null">
				course_id,
			</if>
			<if test="bean.grade!=null">
				grade,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				#{bean.id},
			</if>
			<if test="bean.studentId!=null">
				#{bean.studentId},
			</if>
			<if test="bean.courseId!=null">
				#{bean.courseId},
			</if>
			<if test="bean.grade!=null">
				#{bean.grade},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix=" " suffix="" suffixOverrides=",">
			<if test="bean.grade!=null">
				grade =values(grade),
			</if>
		</trim>
	</insert>

	<!--添加 (批量插入)-->
	<insert id="insertBatch" parameterType="com.scoremg.entity.po.CourseSelectInfo">
		insert into course_select_info(student_id,course_id,grade) values
		<foreach collection="list" item="item" separator=","  >
			(#{item.studentId},#{item.courseId},#{item.grade})
		</foreach>
	</insert>

	<!--批量插入或者更新-->
	<insert id="insertOrUpdateBatch" parameterType="com.scoremg.entity.po.CourseSelectInfo">
		insert into course_select_info(student_id,course_id,grade) values
		<foreach collection="list" item="item" separator="," >
			(#{item.studentId},#{item.courseId},#{item.grade})
		</foreach>
		on DUPLICATE KEY update
		id=values(id),student_id=values(student_id),course_id=values(course_id),grade=values(grade)
	</insert>

	<!--多条件删除-->
	<delete id="deleteByParam">
		delete from course_select_info
		<include refid="query_condition"/>
	</delete>


	<!--根据条件更新-->
	<update id="updateByParam" parameterType="com.scoremg.entity.query.CourseSelectInfoQuery">
		UPDATE course_select_info
		<set> 
		<if test="bean.id !=null">
			 id=#{bean.id},
		</if>
		<if test="bean.studentId !=null and bean.studentId!=''">
			 student_id=#{bean.studentId},
		</if>
		<if test="bean.courseId !=null">
			 course_id=#{bean.courseId},
		</if>
		<if test="bean.grade !=null">
			 grade=#{bean.grade},
		</if>
		</set> 
		<include refid="query_condition"/>
	</update>


	<!--根据Id查询-->
	<select id="selectById" resultMap="base_result_map">
		select <include refid="base_column_list"/>  from course_select_info where id=#{id}
	</select>

	<!--根据"Id更新-->
	<update id="updateById" parameterType="com.scoremg.entity.po.CourseSelectInfo">
		update course_select_info
		<set>
			<if test="bean.id!=null">
				id = #{bean.id},
			</if>
			<if test="bean.studentId!=null">
				student_id = #{bean.studentId},
			</if>
			<if test="bean.courseId!=null">
				course_id = #{bean.courseId},
			</if>
			<if test="bean.grade!=null">
				grade = #{bean.grade},
			</if>
		</set>
		where id=#{id}
	</update>

	<!--根据"Id删除-->
	<delete id="deleteById">
		delete from course_select_info where id=#{id}
	</delete>

	<!--根据StudentIdAndCourseId查询-->
	<select id="selectByStudentIdAndCourseId" resultMap="base_result_map">
		select <include refid="base_column_list"/>  from course_select_info where student_id=#{studentId} and course_id=#{courseId}
	</select>

	<!--根据"StudentIdAndCourseId更新-->
	<update id="updateByStudentIdAndCourseId" parameterType="com.scoremg.entity.po.CourseSelectInfo">
		update course_select_info
		<set>
			<if test="bean.id!=null">
				id = #{bean.id},
			</if>
			<if test="bean.studentId!=null">
				student_id = #{bean.studentId},
			</if>
			<if test="bean.courseId!=null">
				course_id = #{bean.courseId},
			</if>
			<if test="bean.grade!=null">
				grade = #{bean.grade},
			</if>
		</set>
		where student_id=#{studentId} and course_id=#{courseId}
	</update>

	<!--根据"StudentIdAndCourseId删除-->
	<delete id="deleteByStudentIdAndCourseId">
		delete from course_select_info where student_id=#{studentId} and course_id=#{courseId}
	</delete>
</mapper>
